<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="header::header">
</head>
<title>Recruitment Proposal</title>
<body>

	<div th:insert="Navbar::Navbar"></div>
	<div class="container-fluid">
		<div class="row d-flex">
			<div class="col-sm-3 border-right scroll-area"
				th:insert="Sidebar::Sidebar"></div>
			<div class="col-sm-8" th:insert="Form::Form"></div>
		</div>
	</div>
</body>
</html>