<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{index}"></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="UTF-8" />
    </head>
    <body>
        <span th:text="#{Current Authority}">
            Dear
        </span>
        <div>hello tested ok</div>
        <span th:text="#{Recruitment}">

        </span>
        <p>
            <span th:text="#{Current Authority}">Regards, </span>
            <br/>
            <em th:text="#{Current Authority}"></em>
        </p>
    </body>
</html>
