<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="header::header">

</head>
<title>Recruitment</title>

<body>
	<div th:insert="Navbar::Navbar"></div>
	<div class="container-fluid">
		<div class="row border border-dark p10">
			<div class="dropdown col text-center">
			    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
			    <span th:text="#{Recruitment}"></span>
			    <span class="caret"></span></button>
			    <ul class="dropdown-menu">
			      <input class="form-control" id="myInput" type="text" placeholder="Search..">
					<li class="list-group-item">
						<a th:href="@{/getProcess/Recruitment by Individual Departments through MPSC}"><span
							th:text="#{Recruitment by Individual Departments through MPSC}"></span></a></li>
					<li class="list-group-item">
						<a th:href="@{/getProcess/Compassionate Recruitment}"><span
							th:text="#{Compassionate Recruitment}"></span></a></li>
					<li class="list-group-item">
						<a th:href="@{/getProcess/Recruitment of Group B (non-Gazetted) and Group C posts}"><span
							th:text="#{Recruitment of Group B (non-Gazetted) and Group C posts}"></span></a></li>
					
			    </ul>
			  </div>
		</div>
	</div>
</body>
</html>