<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Application Form</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="UTF-8" />
    </head>
    <body>
    	Dear,
    	<p th:text="${name}"></p>
    	<p>Application Form generated against vacancy of <span th:text="${employeename}"></span></p>
    	<p> for <a href="javascript:void();" 
    	th:href="@{|/getApplicationForm/${baseURL}/${authCode}/${employeeId}|}"><span>Application Form</span></a></p>
        <p>
            <span>Regards, </span>
            <br/>
            <em>Recruitment Department</em>
        </p>
    </body>
</html>
